.jumbotron {
text-align: center;
padding-top: 150px;
padding-bottom: 150px;
background-image: url(../images/bkground2.jpg);
box-shadow: 0px 0px 4px #696969;
}

.navbar{
	box-shadow: 0px 0px 4px #696969;
}

.jumbotron h1{
	font-family: 'Titillium Web', sans-serif;
}

.navbar-brand>img {
	height:62px;
}
.mission{
	text-align: center;
}

.mission img {
	margin-bottom: 14px;
}


.navbar-brand {
	padding: 5px 0px;
}

.navbar {
 min-height: 68px;
}

ul.nav{
	font-size: 16px;
	padding-top: 7px;
}

.mission p{
	text-align: center;
	font-size: 30px;
	font-family: 'Arvo', serif;
}

footer{
	color: grey;
}

.r hr{
margin-right: 415px;
margin-top: 10px;
border-color: black;
}

.entire{
	background-image: url(../images/webpagebackground.png);
}


h1 {
	margin-top: 100px;
	padding-bottom: 20px;
}
img.img-circle {
	height:300px;
	width: 300px;
	margin-top: 50px;
}

.reasons { 
	text-align: center;
	padding-top: 0px;
	padding-bottom:100px;
	margin-bottom: 50px;
	margin-top: 0px;
	color: grey;

}

.quotes {
	display: none;
	text-align: center;
}

.beth{
	text-align: center;
}
.barbra{
	text-align: center;
}
.sabrina{
	text-align: center;
}
.michele{
	text-align: center;
}
img.img-circle{
	margin: 15px;
}